<% include ./header.ejs %>
<div class="small-container">
    <h3 class="center" style="margin: 24px 0;">Maak een nieuw account</h3>
    <form onsubmit="return false">
        <div class="mb-3">
        <label for="username" class="form-label">Username</label>
            <input minlength="6" type="username" class="form-control" id="username" required>
        </div>
        <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input minlength="6" type="password" class="form-control" id="password1" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Confirm password</label>
            <input minlength="6" type="password" class="form-control" id="password2" required>
        </div>
        <button onclick="validateForm('create')" class="btn btn-primary">Submit</button>
    </form>
</div>
<% include ./footer.ejs %>