<!-- Footer -->
<footer class="text-center text-white mt-auto" style="background-color: rgba(0, 0, 0, 0.75);">
    <!-- Grid container -->
    <div class="container p-4">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-facebook-f"></i
        ></a>
  
        <!-- Twitter -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-twitter"></i
        ></a>
  
        <!-- Google -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-google"></i
        ></a>
  
        <!-- Instagram -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-instagram"></i
        ></a>
  
        <!-- Linkedin -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-linkedin-in"></i
        ></a>
  
        <!-- Github -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-github"></i
        ></a>
      </section>
      <!-- Section: Social media -->
  
      <!-- Section: Form -->
  
            <section class="mb-4" style="margin: auto">
                <div class="col-md-5 col-12" style="margin: auto">
                    <p>          
                        <strong>Schrijf je in en ontvang 1 keer per week een update met onze nieuwste quizzen en tests.</strong>
                    </p>
                  <!-- Email input -->
                  <div class="form-outline form-white mb-4">
                    <input type="email" id="form5Example2" class="form-control" />
                  </div>
                  <button type="submit" class="btn btn-outline-light mb-4">
                    Subscribe
                  </button>
                </div>
              </section>
              
          <div class="col-lg-10 col-md-12 mb-4 mb-md-0"  style="margin: auto">
            <a href="#!" class="text-reset">Privacyverklaring</a>
            <span>•</span>
            <a href="/sitemap" class="text-reset">Sitemap</a>
            <span>•</span>
            <a href="#!" class="text-reset">Contact</a>
      </div>
    </div>
  
    <!-- Copyright -->
    <div class="text-center p-3">
      © 2021 Copyright:
      <span class="text-white">Garagebox</span>
    </div>
    <!-- Copyright -->
  </footer>
  <script src="../public/javascripts/main.js"></script>
  </body>
  <!-- Footer -->
</html>