<% include ./header.ejs %>
        <div class="container">
            <h1 class="display-3" style="text-align: center; margin: 50px auto; color: whitesmoke;">Kies een spel</h1>
            <div class="row row-cols-1 row-cols-md-4 g-4">
            <div class="col">
              <div class="card h-100">
                <p class="card-text" style="font-family: RingBearer;">Lord of the ringS</p>
                <a href="/lord-of-the-rings">
                  <img src="../public/images/lord-of-the-rings-background.jpg" class="card-img-top" alt="Lord of the lord-of-the-rings">
                </a>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <p class="card-text" style="font-family: EASports;">Fifa</p>
                <img src="../public/images/fifa.jpg" class="card-img-top" alt="Fifa">
              </div>
            </div>
            <div class="col disabled">
              <div class="card h-100">
                <p class="card-text" style="font-family: Lego; text-transform: uppercase;">Lego Minifigs</p>
                <img src="../public/images/lego-minifigures.jpg" class="card-img-top" alt="Lego Minifigs">
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <p class="card-text" style="font-family: Fortnite;">Fortnite</p>
                <img src="../public/images/fortnite.jpg" class="card-img-top" alt="Fortnite Character">
              </div>
            </div>
          </div>
        </div>
<% include ./footer.ejs %>