<% include ./header.ejs %>
<div class="lotr-thema">
        <img src="../public/images/background.jpg" alt="loft-theme">
</div>
        <div class="container fade-in">
                <h3 class="lotr-title" style="position: relative;">
                        Lord of the ringS
                        <span class=" fade-in" style="font-size: 18px; position: absolute; transform: translate(-50%); bottom: 0; left: 50%;">One quiz to rule them all</span>
                </h3>
                <div id="quiz-container" style="font-family: RingBearer; margin-bottom: 50px;">
                        <div class="text-center">
                                <button class="btn my-button" onclick="requests('request questions')">-Start my journey-</button>
                        </div>
                </div>
        </div>
        
<% include ./footer.ejs %>