<% include ./header.ejs %>
        <div class="container">
            <ul style="color: white;">
                <h3>Pagiana's</h3>
                <li><a href="/home">Home</a></li>
                <li><a href="/lord-of-the-rings">Lord of the rings quiz</a></li>
                <li><a href="">Fifa</a></li>
                <li><a href="">Lego minifigs</a></li>
                <li><a href="">Fortnite</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/create-account">Create account</a></li>
                <li><a href="">Privacy verklaring</a></li>
                <li><a href="">Contact</a></li>
            </ul>
        </div>
        
<% include ./footer.ejs %>